h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    font-family: Helvetica;
    font-weight: bold;
    color: khaki;
    text-align: center;
    font-size: 100px;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames h3{
    background-color: lightcoral;
}

.paint h3{
    background-color: skyblue;
}

h3 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}